@(formPost: Form[models.Post], posts: List[models.Post], message : List[String])

@import java.lang.String;  var username = "";var favoriteStatus = true;
@import java.lang.Long; var favoriteId = -1l; var countFavorite = 0l;

@main("New Post") {
	<div>
	    <div class="container">
	        <div class="form-inline">
	            <div class="input-group col-sm-6">
					@helper.form(action = routes.PostController.createPost(), 'method -> "POST") {
						@(helper.inputText (
							field = formPost("url"),
							'_label -> "Url",
							'placeholder -> "Enter Url"
						))
							@if(message.size()>0){
								@for( error <- message){
									<p style="color:red;"> @error</p>
								}
							}
						<button type="submit">投稿</button>
					}
	            </div>
	        </div>
	<table class="table table-filter" id="productTable">
	            <thead>
		            <tr  class="postList">
		                <th>お気に入り</th>
		                <th>投稿日</th>
		                <th>画像</th>
		                <th>投稿者</th>
		                <th>記事一覧</th>
		                <th>遷移</th>
		            </tr>
	            </thead>
	            <tbody>
		            @for(post <- posts){
		            	@{countFavorite=0}
		            	@{favoriteId = -1}
			            @for(favorite <-post.favorites){
			            	@if(favorite.user !=null){
				            	@if(favorite.user.email == session.get("email")){
				            			@{favoriteId = favorite.id}
				            			@(favoriteStatus = favorite.isDelete)
				            	} 
				            	@if(favorite.isDelete == false){
				            		@{countFavorite += 1}
				            	}
				            }
					      }
			            <tr id="@post.id" class="postList">
			                <td>
								<a  href="#" class="star" data-like="0"> @countFavorite </a>
			                </td>
			                <td>@post.createDate.format("dd/MM/yyyy")</td>
			                <td class="image">
			                	<img alt="" src="@post.imgUrl">
			                </td>
			                <td>@post.user.name</td>
			                <td>
			                	<a class="" href="@routes.PostController.viewPostDetail(post.id)">@post.title</a>	
			                </td>
			                <td>
								<a class="btn btn-danger" href="">削除</a>
			                	<a class="btn btn-success" href="">編集</a>
							</td>
			            </tr>　
		            }
	            </tbody>
	        </table>
	    </div>
	</div>
	<a class="#" href="@routes.PostController.showAllPost">All Post </a>
}
